@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}

.cute-font {
  font-family: 'Pacifico', cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}